In [3]:
import pandas as pd

In [4]:
Braves = ["Acuna", "Swanson", "Olsen", "Riley", "Ozuna", "d'Arnaud", "Duval", "Arcia", "Harris"]
bravesSeries = pd.Series(Braves)

In [5]:
bravesSeries

0       Acuna
1     Swanson
2       Olsen
3       Riley
4       Ozuna
5    d'Arnaud
6       Duval
7       Arcia
8      Harris
dtype: object

In [6]:
bravesDict = [{"Player": "Acuna", "Position": "OF"},
              {"Player": "Swanson", "Position": "SS"},
              {"Player": "Olsen", "Position": "1B"},
              {"Player": "Riley", "Position": "3B"},
              {"Player": "Ozuna", "Position": "DH"},
              {"Player": "d'Arnaud", "Position": "C"},
              {"Player": "Duval", "Position": "OF"},
              {"Player": "Arcia", "Position": "2B"},
              {"Player": "Harris", "Position": "OF"}]
bravesDict

[{'Player': 'Acuna', 'Position': 'OF'},
 {'Player': 'Swanson', 'Position': 'SS'},
 {'Player': 'Olsen', 'Position': '1B'},
 {'Player': 'Riley', 'Position': '3B'},
 {'Player': 'Ozuna', 'Position': 'DH'},
 {'Player': "d'Arnaud", 'Position': 'C'},
 {'Player': 'Duval', 'Position': 'OF'},
 {'Player': 'Arcia', 'Position': '2B'},
 {'Player': 'Harris', 'Position': 'OF'}]

In [7]:
braves_df = pd.DataFrame(bravesDict)

In [8]:
braves_df

     Player Position
0     Acuna       OF
1   Swanson       SS
2     Olsen       1B
3     Riley       3B
4     Ozuna       DH
5  d'Arnaud        C
6     Duval       OF
7     Arcia       2B
8    Harris       OF

In [9]:
braves_df.describe()

       Player Position
count       9        9
unique      9        7
top     Acuna       OF
freq        1        3

In [10]:
braves_df["Player"].head()

0      Acuna
1    Swanson
2      Olsen
3      Riley
4      Ozuna
Name: Player, dtype: object

In [11]:
braves_df[["Player", "Position"]].head()

    Player Position
0    Acuna       OF
1  Swanson       SS
2    Olsen       1B
3    Riley       3B
4    Ozuna       DH

In [12]:
braves_df["Position"].unique()

array(['OF', 'SS', '1B', '3B', 'DH', 'C', '2B'], dtype=object)

In [13]:
braves_df["Position"].value_counts()

OF    3
SS    1
1B    1
3B    1
DH    1
C     1
2B    1
Name: Position, dtype: int64

In [14]:
bravesHR = ["9", "14", "13", "20", "8", "9", "12", "2", "5"]

In [15]:
braves_df["HR"] = bravesHR

In [16]:
braves_df

     Player Position  HR
0     Acuna       OF   9
1   Swanson       SS  14
2     Olsen       1B  13
3     Riley       3B  20
4     Ozuna       DH   8
5  d'Arnaud        C   9
6     Duval       OF  12
7     Arcia       2B   2
8    Harris       OF   5

In [27]:
braves_df.dtypes

Player         object
Position       object
HR             object
Projeted HR    object
dtype: object

In [34]:
braves_df = braves_df.astype({"HR": "int64"}, errors="raise")

In [35]:
braves_df.dtypes

Player         object
Position       object
HR              int64
Projeted HR    object
dtype: object

In [36]:

projectedHR = braves_df["HR"]*2
braves_df["Projeted HR"] = projectedHR

In [37]:
braves_df

     Player Position  HR  Projeted HR
0     Acuna       OF   9           18
1   Swanson       SS  14           28
2     Olsen       1B  13           26
3     Riley       3B  20           40
4     Ozuna       DH   8           16
5  d'Arnaud        C   9           18
6     Duval       OF  12           24
7     Arcia       2B   2            4
8    Harris       OF   5           10

In [38]:
braves_df["Projeted HR"].value_counts()

18    2
28    1
26    1
40    1
16    1
24    1
4     1
10    1
Name: Projeted HR, dtype: int64

In [39]:
braves_df.columns

Index(['Player', 'Position', 'HR', 'Projeted HR'], dtype='object')

In [40]:
braves_new_df = braves_df[["Position", "Player", "HR"]]
braves_new_df

  Position    Player  HR
0       OF     Acuna   9
1       SS   Swanson  14
2       1B     Olsen  13
3       3B     Riley  20
4       DH     Ozuna   8
5        C  d'Arnaud   9
6       OF     Duval  12
7       2B     Arcia   2
8       OF    Harris   5

In [41]:
rename_braves_df = braves_df.rename(columns={"Projeted HR":"Projected HRs"})
rename_braves_df

     Player Position  HR  Projected HRs
0     Acuna       OF   9             18
1   Swanson       SS  14             28
2     Olsen       1B  13             26
3     Riley       3B  20             40
4     Ozuna       DH   8             16
5  d'Arnaud        C   9             18
6     Duval       OF  12             24
7     Arcia       2B   2              4
8    Harris       OF   5             10

In [42]:
rename_braves_df.loc[(rename_braves_df["Position"] == "OF"), :]

   Player Position  HR  Projected HRs
0   Acuna       OF   9             18
6   Duval       OF  12             24
8  Harris       OF   5             10